[submodule "backbone-tastypie"]
	path = backbone-tastypie
	url = https://github.com/PaulUithol/backbone-tastypie.git
[submodule "zepto"]
	path = zepto
	url = https://github.com/madrobby/zepto.git
[submodule "extDate"]
	path = extDate
	url = https://github.com/staer/extDate.git
